{
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "plugins": [
        "jest",
        "testcafe",
        "@typescript-eslint"
    ],
    "rules": {
        "@typescript-eslint/no-var-requires": "off"
    },
    "env": {
        "jest/globals": true
    },
    "ignorePatterns": ["lib/"],
    "parser": "@typescript-eslint/parser",
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".js", ".jsx", ".ts", ".tsx"]
            }
        }
    }
}
