{
    "extends": [
        "eslint-config-appium",
        "plugin:testcafe/recommended"
    ],
    "plugins": ["jest", "testcafe", "@typescript-eslint"],
    "rules": {
        "no-console": "off",
        "promise/no-native": "off",
        "promise/prefer-await-to-callbacks": "off",
        "promise/prefer-await-to-then": "off",
        "promise/catch-or-return": "off"
    },
    "env": {
        "jest/globals": true
    },
    "ignorePatterns": ["src/*.d.ts", "src/*.js"],
    "parser": "@typescript-eslint/parser",
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".js", ".jsx", ".ts", ".tsx"]
            }
        }
    }
}
