apiVersion: v1alpha
kind: testcafe
sauce:
  region: us-west-1
  concurrency: 1 # Controls how many suites are executed at the same time (sauce test env only).
  metadata:
    name: Testing Testcafe Support
    tags:
      - e2e
      - release team
      - other tag
    build: Release $CI_COMMIT_SHORT_SHA
suites:
  - name: "saucy test"
    browserName: "chrome"
    src:
      - "**/*.test.js" # test files glob
    screenshots:
      takeOnFails: true
      fullPage: true
    platformName: "windows 10"
    env:
      hello: world
    speed: 1

docker:
  fileTransfer: copy

testcafe:
  projectPath: tests/
  version: 1.10.1
